<div class="list-group">
    <p class="list-group-item list-group-item-primary">Feature</p>
    <a href="{% url 'appointment' %}" class="list-group-item list-group-item-action">Appointment</a>
    <a href="#" class="list-group-item list-group-item-action">History of BSMRMCH</a>
    <a href="#" class="list-group-item list-group-item-action">About Bangabondhu</a>
    <a href="#" class="list-group-item list-group-item-action">About BSMRMCH</a>
    <a href="#" class="list-group-item list-group-item-action">Student's Achivement</a>
    <a href="#" class="list-group-item list-group-item-action">Research Document</a>
    <a href="#" class="list-group-item list-group-item-action">Current Activity</a>
    <a href="#" class="list-group-item list-group-item-action">Doctor's List</a>
    <a href="#" class="list-group-item list-group-item-action">Patient List</a>
    <a href="#" class="list-group-item list-group-item-action">Department</a>
    <a href="#" class="list-group-item list-group-item-action">Awarness</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">COVID-19 Info</a>
    <a href="#" class="list-group-item list-group-item-action">Carrier</a>
    <a href="#" class="list-group-item list-group-item-action">BSMRMCH Vission</a>
    <a href="#" class="list-group-item list-group-item-action">Admission Information</a>

</div>