{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
    <h2 class="py-5 text-center">About page</h2>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-cnter">Who we are and why we here.</h2>
            <p class="text-muted">This the one and only Medical University in Bangladesh. Major and most critical pationt can get proper tritment from here.</p>
        </div>
        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores iste consequatur quisquam dolorem laudantium atque minima provident perspiciatis molestiae, aut fugit magnam at quaerat consectetur, doloribus non necessitatibus ut debitis. <br> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque labore odio quo veritatis doloremque voluptatem nesciunt laboriosam, ipsa veniam similique nobis rerum ducimus dolorum dolores a placeat asperiores dolorem sit.</p>
            <p class="text-center">CopyRight: @ Digital All Right Reserved. </p>
            </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center text-ligh">Out Team</h2>
            <p class="text-center">World famous and most experiance doctor service here. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis excepturi quibusdam deserunt, beatae alias placeat officiis! Velit quibusdam natus aliquid quo culpa, ea doloremque vitae et, provident ipsum vero debitis!</p>
        </div>
    </div>   


{% endblock %}