{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class=" alert {{ message.tags }}"{% endif %} > {{ message }}</div>
        {% endfor %}
    {% endif %}
<hr>
<h1 class="py-5 text-center">Welcome to Hostpital Managment System</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde qui perferendis ex nam nulla vel quo excepturi cumque commodi eaque, eveniet harum dolore quos iusto iste, libero minus quibusdam officiis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt commodi quo eveniet fugit at, minus est earum reiciendis pariatur similique ipsum nesciunt rem ipsa? Labore dolor animi accusamus omnis blanditiis?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quisquam eaque ipsa, autem cupiditate eligendi repellendus. Repellendus eius, facilis beatae assumenda ex voluptate velit consequuntur sint, vel, adipisci perspiciatis illum?</p>
<div class="row">
    <div class="col-lg-6">
        
    </div>
</div>
{% endblock %}